competingconsumer/TopicConsumer/bin/*
competingconsumer/TopicProducer/bin/*

competingconsumer/TopicConsumer/obj/*
competingconsumer/TopicProducer/obj/*

competingconsumer/Producer/obj/*
competingconsumer/Producer/bin/*

competingconsumer/Consumer/obj/*
competingconsumer/Consumer/bin/*

competingconsumer/EventHubWriter/bin/*
competingconsumer/EventHubWriter/obj/*